<h1 style="color: blue">Welcome, <%= @user.name %></h1>
<p>Thank you for signing up!</p>
<p>Your name: <%= @user.name %></p>
<p>Your email: <%= @user.email %></p>
<p style="color: red"><b>Have a great day!</b></p>
